/*
 * Device Tree Include file for PDA4 display module on SAMA5D2 Xplained board
 *
 *  Copyright (C) 2015 Atmel,
 *                2015 Nicolas Ferre <nicolas.ferre@atmel.com>
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/ {
	ahb {
		apb {
			hlcdc: hlcdc@f0000000 {
				status = "okay";

				hlcdc-display-controller {
					pinctrl-names = "default";
					pinctrl-0 = <&pinctrl_lcd_base &pinctrl_lcd_rgb666>;

					port@0 {
						hlcdc_panel_output: endpoint@0 {
							reg = <0>;
							remote-endpoint = <&panel_input>;
						};
					};
				};

				hlcdc_pwm: hlcdc-pwm {
					pinctrl-names = "default";
					pinctrl-0 = <&pinctrl_lcd_pwm>;
				};
			};

			i2c1: i2c@fc028000 {
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_i2c1_default>;
				status = "okay";

				qt1070: keyboard@1b {
					compatible = "qt1070";
					reg = <0x1b>;
					interrupt-parent = <&pioA>;
					interrupts = <40 0x0>;
					pinctrl-names = "default";
					pinctrl-0 = <&pinctrl_qt1070_irq>;
					wakeup-source;
				};

				atmel_mxt_ts@4a {
					compatible = "atmel,atmel_mxt_ts";
					reg = <0x4a>;
					interrupt-parent = <&pioA>;
					interrupts = <39 0x0>;
					pinctrl-names = "default";
					pinctrl-0 = <&pinctrl_mxt_irq>;
				};
			};

			pinctrl@fc038000 {
				group_defs {
					i2c1_0 {
						pins = <PIN_PD4__TWD1>,
						       <PIN_PD5__TWCK1>;
					};

					lcd_base_0 {
						pins = <PIN_PC30__LCDVSYNC>,	/* LCDVSYNC */
						       <PIN_PC31__LCDHSYNC>,	/* LCDHSYNC */
						       <PIN_PD1__LCDDEN>,	/* LCDDEN */
						       <PIN_PD0__LCDPCK>;	/* LCDPCK */
					};

					lcd_pwm_0 {
						pins = <PIN_PC28__LCDPWM>;	/* LCDPWM */
					};

					lcd_rgb666_0 {
						pins = <PIN_PC10__LCDDAT2>,
						       <PIN_PC11__LCDDAT3>,
						       <PIN_PC12__LCDDAT4>,
						       <PIN_PC13__LCDDAT5>,
						       <PIN_PC14__LCDDAT6>,
						       <PIN_PC15__LCDDAT7>,
						       <PIN_PC16__LCDDAT10>,
						       <PIN_PC17__LCDDAT11>,
						       <PIN_PC18__LCDDAT12>,
						       <PIN_PC19__LCDDAT13>,
						       <PIN_PC20__LCDDAT14>,
						       <PIN_PC21__LCDDAT15>,
						       <PIN_PC22__LCDDAT18>,
						       <PIN_PC23__LCDDAT19>,
						       <PIN_PC24__LCDDAT20>,
						       <PIN_PC25__LCDDAT21>,
						       <PIN_PC26__LCDDAT22>,
						       <PIN_PC27__LCDDAT23>;
					};

					mxt_irq {
						pins = <PIN_PB7>;
					};

					qt1070_irq {
						pins = <PIN_PB8>;
					};
				};

				pinctrl_i2c1_default: i2c1_default {
					mux {
						function = "A";
						groups = "i2c1_0";
					};

					conf {
						group = "i2c1_0";
						bias-disable;
					};
				};

				pinctrl_lcd_base: pinctrl_lcd_base {
					mux {
						function = "A";
						groups = "lcd_base_0";
					};

					conf {
						pins = <PIN_PC30__LCDVSYNC>,	/* LCDVSYNC */
						       <PIN_PC31__LCDHSYNC>,	/* LCDHSYNC */
						       <PIN_PD1__LCDDEN>,	/* LCDDEN */
						       <PIN_PD0__LCDPCK>;	/* LCDPCK */
						bias-disable;
					};

				};

				pinctrl_lcd_pwm: pinctrl_lcd_pwm {
					mux {
						function = "A";
						groups = "lcd_pwm_0";
					};

					conf {
						pins = <PIN_PC28__LCDPWM>;	/* LCDPWM */
						bias-disable;
					};
				};

				pinctrl_lcd_rgb666: pinctrl_lcd_rgb666 {
					mux {
						function = "A";
						groups = "lcd_rgb666_0";
					};

					conf {
						pins = <PIN_PC10__LCDDAT2>,
						       <PIN_PC11__LCDDAT3>,
						       <PIN_PC12__LCDDAT4>,
						       <PIN_PC13__LCDDAT5>,
						       <PIN_PC14__LCDDAT6>,
						       <PIN_PC15__LCDDAT7>,
						       <PIN_PC16__LCDDAT10>,
						       <PIN_PC17__LCDDAT11>,
						       <PIN_PC18__LCDDAT12>,
						       <PIN_PC19__LCDDAT13>,
						       <PIN_PC20__LCDDAT14>,
						       <PIN_PC21__LCDDAT15>,
						       <PIN_PC22__LCDDAT18>,
						       <PIN_PC23__LCDDAT19>,
						       <PIN_PC24__LCDDAT20>,
						       <PIN_PC25__LCDDAT21>,
						       <PIN_PC26__LCDDAT22>,
						       <PIN_PC27__LCDDAT23>;
						bias-disable;
					};
				};

				pinctrl_mxt_irq: pinctrl_mxt_irq {
					mux {
						function = "GPIO";
						groups = "mxt_irq";
					};

					conf {
						pins = <PIN_PB7>;
						bias-pull-up;
						input-debounce = <1>;
					};
				};

				pinctrl_qt1070_irq: pinctrl_qt1070_irq {
					mux {
						function = "GPIO";
						groups = "qt1070_irq";
					};

					conf {
						pins = <PIN_PB8>;
						bias-pull-up;
						input-debounce = <1>;
					};
				};
			};
		};
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&hlcdc_pwm 0 50000 0>;
		brightness-levels = <0 4 8 16 32 64 128 255>;
		default-brightness-level = <6>;
		power-supply = <&bl_reg>;
		status = "okay";
	};

	bl_reg: backlight_regulator {
		compatible = "regulator-fixed";
		regulator-name = "backlight-power-supply";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		status = "okay";
	};

	panel: panel {
		compatible = "innolux,at043tn24", "simple-panel";
		backlight = <&backlight>;
		power-supply = <&panel_reg>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			panel_input: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&hlcdc_panel_output>;
			};
		};
	};

	panel_reg: panel_regulator {
		compatible = "regulator-fixed";
		regulator-name = "panel-power-supply";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		status = "okay";
	};
};
