/*
 * sama5d34ek.dts - Device Tree file for SAMA5-EK board
 *
 *  Copyright (C) 2012 Atmel,
 *                2012 Ludovic Desroches <ludovic.desroches@atmel.com>
 *
 * Licensed under GPLv2 or later.
 */
/dts-v1/;
/include/ "sama5d3mb.dtsi"
/include/ "sama5d3dm.dtsi"

/ {
	model = "Atmel SAMA5D34-EK";
	compatible = "atmel,sama5d34ek", "atmel,sama5ek", "atmel,sama5d3", "atmel,sama5";

	chosen {
		bootargs = "console=ttyS0,115200 mtdparts=atmel_nand:8M(bootstrap/uboot/kernel)ro,-(rootfs) rw rootfstype=ubifs ubi.mtd=1 root=ubi0:rootfs";
	};

	ahb {
		apb {
			spi0: spi@f0004000 {
				status = "okay";
			};

			ssc0: ssc@f0008000 {
				status = "okay";
			};

			can0: can@f000c000 {
				status = "okay";
			};

			i2c0: i2c@f0014000 {
				status = "okay";
			};

			i2c1: i2c@f0018000 {
				status = "okay";

				24c256@50 {
					compatible = "24c256";
					reg = <0x50>;
					pagesize = <64>;
				};
			};

			macb0: ethernet@f0028000 {
				status = "okay";
			};
		};
	};

	leds {
		d3 {
			label = "d3";
			gpios = <&pioE 24 0>;
		};
	};

	sound {
		status = "okay";
	};
};

/* Uncomment following line will enable ISI support */
/* /include/ "sama5d3mb_isi.dtsi" */
