/*
 * sama5d3xmb_isi_sensors.dts - Device Tree file for camera sensor boards which
 *                              can be insert in SAMA5D3x mother board
 *
 *  Copyright (C) 2015 Atmel,
 *                2015 Josh Wu <josh.wu@atmel.com>
 *
 * Licensed under GPLv2 or later.
 */

/ {
	ahb {
		apb {
			i2c1: i2c@f0018000 {
				ov9740: camera@0x10 {
					compatible = "ovti,ov9740";
					reg = <0x10>;
					pinctrl-names = "default";
					pinctrl-0 = <&pinctrl_pck1_as_isi_mck &pinctrl_sensor_power &pinctrl_sensor_reset>;
					resetb-gpios = <&pioE 24 GPIO_ACTIVE_LOW>;
					pwdn-gpios = <&pioE 29 GPIO_ACTIVE_HIGH>;
					clocks = <&pck1>;
					clock-names = "xvclk";
					assigned-clocks = <&pck1>;
					assigned-clock-rates = <25000000>;

					port {
						ov9740_0: endpoint {
							remote-endpoint = <&isi_3>;
							bus-width = <8>;
						};
					};
				};

				ov7740: camera@0x21 {
					compatible = "ovti,ov7740";
					reg = <0x21>;
					pinctrl-names = "default";
					pinctrl-0 = <&pinctrl_pck1_as_isi_mck &pinctrl_sensor_power &pinctrl_sensor_reset>;
					resetb-gpios = <&pioE 24 GPIO_ACTIVE_LOW>;
					pwdn-gpios = <&pioE 29 GPIO_ACTIVE_HIGH>;
					clocks = <&pck1>;
					clock-names = "xvclk";
					assigned-clocks = <&pck1>;
					assigned-clock-rates = <25000000>;

					port {
						ov7740_0: endpoint {
							remote-endpoint = <&isi_2>;
							bus-width = <8>;
						};
					};
				};

				ov2640: camera@0x30 {
					compatible = "ovti,ov2640";
					reg = <0x30>;
					pinctrl-names = "default";
					pinctrl-0 = <&pinctrl_pck1_as_isi_mck &pinctrl_sensor_power &pinctrl_sensor_reset>;
					resetb-gpios = <&pioE 24 GPIO_ACTIVE_LOW>;
					pwdn-gpios = <&pioE 29 GPIO_ACTIVE_HIGH>;
					/* use pck1 for the master clock of ov2640 */
					clocks = <&pck1>;
					clock-names = "xvclk";
					assigned-clocks = <&pck1>;
					assigned-clock-rates = <25000000>;

					port {
						ov2640_0: endpoint {
							remote-endpoint = <&isi_0>;
							bus-width = <8>;
						};
					};
				};

				ov5640: camera@0x3c {
					compatible = "ovti,ov5642";
					reg = <0x3c>;
					pinctrl-names = "default";
					pinctrl-0 = <&pinctrl_pck1_as_isi_mck &pinctrl_sensor_power &pinctrl_sensor_reset>;
					resetb-gpios = <&pioE 24 GPIO_ACTIVE_LOW>;
					pwdn-gpios = <&pioE 29 GPIO_ACTIVE_HIGH>;
					clocks = <&pck1>;
					clock-names = "xvclk";
					assigned-clocks = <&pck1>;
					assigned-clock-rates = <25000000>;

					port {
						ov5640_0: endpoint {
							remote-endpoint = <&isi_1>;
							bus-width = <8>;
						};
					};
				};
			};
		};

		isi: isi@f0034000 {
			status = "okay";
			port {
				isi_0: endpoint@0 {
					remote-endpoint = <&ov2640_0>;
					bus-width = <8>;
				};

				isi_1: endpoint@1 {
					remote-endpoint = <&ov5640_0>;
					bus-width = <8>;
				};

				isi_2: endpoint@2 {
					remote-endpoint = <&ov7740_0>;
					bus-width = <8>;
				};

				isi_3: endpoint@3 {
					remote-endpoint = <&ov9740_0>;
					bus-width = <8>;
				};
			};
		};
	};
};
